.app {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left {
  width: 350px;
  background-color: aqua;
}

.right {
  /* height: 100%; */
  width: 100%;
  background-color: #C4C4C4;
}
