
.block-label-label {
  display: flex;
  // width: 595px;
  // height: 32px;

  margin: 5px 0px;
  font-size: 24px;

  .label {
    display: inline;
    width: 300px;
  }

  .value {
    display: inline;
    width: 130px;
    font-size: 24px;
  }
}
