
.block-label-input {
  display: flex;
  // width: 595px;
  // height: 32px;

  margin: 5px 0px;
  font-size: 24px;

  .label {
    display: inline;
    width: 220px;
  }

  .input {
    display: inline;
    width: 350px;
    font-size: 24px;
  }
}
