
.create-idea {
  display: flex;
  width: 100%;

  .wrap {
    display: flex;
    margin-top: 50px;
    flex-grow: 1;
    justify-content: center;

    .block {
      border: 1px solid black;
      border-radius: 10px;
      padding: 20px;
      height: max-content;
  
      &-input {
        input {
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid black;
          background-color: #C4C4C4;

          &:focus {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid black;
            background-color: #ffffff;
          }
        }
      }
  
      &-output {
        align-self: center;
      }

      &-total {
        display: inline;
        // width: 300px;
        margin: 30px;
        font-size: 32px;
        // text-align: right;
        // background-color: azure;
      }

      &-button {

        .button {
          width: 200px;
          height: 58px;

          margin: 20px;

          font-size: 24px;

          border-radius: 5px;

          background-color: #A19F9F;
          cursor: pointer;
          pointer-events: auto;

          &-disable {
            opacity: 0.4;
            pointer-events: none;
          }
        }
      }
    }

    &-right {
      flex-direction: column;
    }
  }
}
