.ideas {

  .table {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 24px;
    padding: 5px;

    // .column {
    .thead {
      display: flex;
      flex-direction: row;
      height: 60px;
      width: max-content;
      background-color: #5e5d5d;
    }

    .tbody {
      display: flex;
      flex-direction: column;
      width: max-content;
      margin-top: 20px;

      .tr {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;

        &:nth-child(odd) {
          background-color: #878484;
        }

        &:nth-child(even) {
          background-color: #9f9a9a;
        }

        &:nth-child(5n) {
          margin-bottom: 5px;
        }
      }
    }

    .td {
      margin: 0px 5px;
      align-self: center;

      &__row_number {
        width: 50px;
      }

      &__price_buy,
      &__price_sale,
      &__commission_buy,
      &__commission_sale {
        width: 110px;
      }

      &__amount,
      &__deleted {
        width: 170px;
      }

      &__stock_name,
      &__date {
        width: 220px;
      }

      &__status_button {
        width: 150px;
      }

    }

    .button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .button {
        height: 40px;
        border-radius: 5px;
      }
    }

    // }
  }

  .pop-up {
    position: fixed;
    display: inline-block;
    top: 50%;
    left: 50%;
    border: 1px solid red;
    width: 400px;
    height: 140px;
    background-color: #878484;
    transform: translate(-50%, -50%);
    padding-top: 50px;

    &__name,
    &__price,
    &__real-price {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      margin: 10px;
      font-size: 24px;
      width: 100%;
    }

    .block-label-label {
      .value {
        width: 285px;
      }
    }

    .block-label-input {
      width: 330px;
      margin: 0px auto;

      .input {
        font-size: 24px;
        width: 100px;
        border-radius: 5px;
      }
    }

    .button {
      margin: 10px;
      font-size: 24px;
      border-radius: 5px;
    }
  }
}