
.menu-item {
  height: 50px;
  width: 280px;

  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 24px;

  background-color: #B1B25B;
  cursor: pointer;
  pointer-events: auto;

  &-disable {
    background-color: #B1B1B1;
    pointer-events: none;
  }
}
