.user-info {
  display: flex;
  width: 95%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;

  margin-left: 30px;

  &__photo {
    height: 90px;
    width: 90px;
    margin-top: 5px;

    flex-basis: 90px;

    border-radius: 50%;

    background-color: aliceblue;
  }

  &__user-name {
    margin-left: 15px;
    line-height: 100px;
  }

  .button {
    height: 50px;
    margin-left: 35px;
    border-radius: 5px;
    flex-basis: 90px;
  }
}